<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<!--<add id="Custom::top_level" title="Custom Imageimporter" module="Custom_ImageUploader" sortOrder="9999" resource="Magento_Backend::content"/>-->
		<add id="Custom_ImageUploader::index_index" title="Eurostep Bulk Image Import" module="Custom_ImageUploader" sortOrder="9999" resource="Custom_ImageUploader::index_index" parent="Magento_Backend::system_convert" action="imageuploader/index/index"/>
	</menu>
</config>
